<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}user login{% endblock %}
</head>
<body>
{% block para %}
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
	<br></br>
		<tr><i><td align="right">User Name : </i></td>
		<td align="left"><input type 'text' name='username'></td></tr>
		<tr class="blank_row"><td bgcolor="#EEEEEE" colspan="3">&nbsp;</td></tr>
		<tr><i><td align="right">Password : </i></td>
		<td align="left"><input type='password' name='password'></td></tr>
		<tr class="blank_row"><td bgcolor="#EEEEEE" colspan="3">&nbsp;</td></tr>
</table>
<td align="left"><input type = 'Submit' value="SIGN IN"></td>
</form>
{% endblock %}
</body>
</html>